In [63]:
#coloca o path raiz do projeto
working_path = "/home/thierry/Documents/thierry/"

In [64]:
import pandas as pd
import datetime

In [65]:
data = pd.read_csv("/home/thierry/Documents/thierry/data/0b2b9de31dfcb837.csv")
for i in range(len(data)):
    data['date'][i] = datetime.datetime.strptime(data['date'][i], '%a %b %d %H:%M:%S GMT-03:00 %Y').day
data['index'] = range(0, len(data))
data = data.query('date < 3 or date > 28')

/home/thierry/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [66]:
data30s = data.iloc[ 0::2 , [13,16]]
data60s = data.iloc[ 0::4 , [13,16]]
data120s = data.iloc[ 0::8 , [13,16]]

In [72]:
data30s

      screen  index
281     True    281
283     True    283
285     True    285
287     True    287
289     True    289
...      ...    ...
8305    True   8305
8307    True   8307
8309    True   8309
8311    True   8311
8313    True   8313

[4017 rows x 2 columns]

In [67]:
def find_usage(df,mode):
    usage = 0
    for i in df.index.values:
        if(df['screen'][i]==mode):
            usage+=1
        
    return usage

In [68]:
def find_all_usage_False(df,grouping):
    usage = 0
    for i in range(0,len(df),grouping):
        usage += checkUsage_False(df[i:(i+grouping)])
    return usage

def find_all_usage_True(df,grouping):
    usage = 0
    for i in range(0,len(df),grouping):
        usage += checkUsage_True(df[i:(i+grouping)])
    return usage

In [69]:
def checkUsage_False(df):
    result = True
    for i in df.index.values:
        result = result and df['screen'][i]
    return 1 if not(result) else 0 

def checkUsage_True(df):
    result = False
    for i in df.index.values:
        result = result or df['screen'][i]
    return 1 if result else 0

In [70]:
print("Porcentagem usage true 30s",find_usage(data30s, True)/find_all_usage_True(data,2))
print("Porcentagem usage true 60s",find_usage(data60s, True)/find_all_usage_True(data,4))
print("Porcentagem usage true 120s",find_usage(data120s, True)/find_all_usage_True(data,8))

Porcentagem usage true 30s 0.8612463485881208
Porcentagem usage true 60s 0.7436332767402377
Porcentagem usage true 120s 0.6742770167427702

In [71]:
print("Porcentagem usage false 30s",find_usage(data30s, False)/find_all_usage_False(data,2))
print("Porcentagem usage false 60s",find_usage(data60s, False)/find_all_usage_False(data,4))
print("Porcentagem usage false 120s",find_usage(data120s, False)/find_all_usage_False(data,8))

Porcentagem usage false 30s 0.8730097087378641
Porcentagem usage false 60s 0.8276113951789628
Porcentagem usage false 120s 0.7762430939226519